@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
.jumbotron {
    height: 100vh;
   /* background-image: url(img/3.jpg);*/
    margin-bottom: -50px;
    background: url(img/2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.navbar {
   border-radius: 0px;
   background-color: #FFDE00;
   border-color: #FFDE00;
   margin-bottom: 0px;

}

.navbar-inverse .navbar-brand {
    color: #272626;
}
.navbar-inverse .navbar-nav>li>a {
    color: #2b2929;
    font-weight: bold;
}
.panel-primary>.panel-heading {
    color: #272626;
    background-color: #ffde00;
    border-color: #ffde00;
}



.contactpanel {
    opacity: 10;
}

.schoolname {
    color: #fff;
}

.schoolname h1, p{
font-family: 'Titillium Web', sans-serif;
    }
